---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Breadcrumb from '../components/Breadcrumb.astro';


const { title = 'Panel' } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <Navbar />
    <main class="p-8 space-y-8 max-w-6xl mx-auto">
      <Breadcrumb />
      <slot />
    </main>
  </body>
</html>
